.delete-button {
    color: #b01e1e;
    border-color: #b01e1e;
  }

  .js-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
  }
  
  .js-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }
  
  .slds-backdrop_open {
    background-color: rgba(16, 48, 88, 0.8);
    backdrop-filter: blur(3px);
}